body {
  font-family: 'Ariel', sans-serif;
  letter-spacing: 0.5px;
}

.wine-list {
  width: 60%;
  cursor: default;
  margin: 20px;
  padding: 10px;
}

.wine-list td {
  padding: 5px;
  border-bottom: 1px solid #dddddd;
}

.wine-list tr:hover {
  background-color: rgb(161, 217, 250);
}

.wine-list tr:first-child {
  font-size: 16px;
  font-weight: bold;
}

.wine-list tr:first-child:hover {
  background-color: white;
}

.top-wines {
  display: flex;
}

.tasting-notes {
  position: sticky;
  top: 100px;
  height: fit-content;
  width: 30%;
  border: 1px solid lightgray;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  border-radius: 2px;
  margin: 20px;
  padding: 10px;
}

.tasting-notes > h2 {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
}