body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  letter-spacing: 0.5px;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

.wine-list {
  width: 60%;
  cursor: default;
  margin: 20px;
  padding: 10px;
}

.wine-list td {
  padding: 5px;
  border-bottom: 1px solid #dddddd;
}

.wine-list tr:hover {
  background-color: rgb(161, 217, 250);
}

.wine-list tr:first-child {
  font-size: 16px;
  font-weight: bold;
}

.wine-list tr:first-child:hover {
  background-color: white;
}

.top-wines {
  display: flex;
}

.tasting-notes {
  position: sticky;
  top: 100px;
  height: fit-content;
  width: 30%;
  border: 1px solid gray;
  border-radius: 2px;
  margin: 20px;
  padding: 10px;
}

.tasting-notes > h2 {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
}