body {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  letter-spacing: 0.5px;
}

.wine-list {
  width: 60%;
  cursor: default;
  margin: 20px;
  padding: 10px;
  box-sizing: border-box;
}

.wine-list td {
  padding: 15px;
  border-bottom: 1px solid #dddddd;
}

.wine-list tr:first-child {
  font-size: 16px;
  font-weight: bold;
  border-bottom: 2px solid #dddddd;
}

.wine-list tr:nth-child(even) {
  background-color: #fde8e8;
}

.wine-list tr:first-child:hover {
  background-color: white;
}

.wine-list tr:hover {
  background-color: rgb(206, 234, 250);
}

.top-wines {
  display: flex;
}

.tasting-notes {
  position: sticky;
  box-sizing: border-box;
  top: 200px;
  height: fit-content;
  width: 30%;
  min-width: 200px;
  border: 1px solid lightgray;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  border-radius: 2px;
  margin: 20px;
  padding: 15px;
}

.tasting-notes > h2 {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
}

.header {
  margin: 20px;
  text-align: center;
}

.header h1 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 20px;
}